## LOADING THE DATASET INTO THE WORKSPACE

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot
pd.set_option('display.max_colwidth', 200)

train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

print(train.shape)
print(test.shape)

(2822, 63)
(1013, 62)

## USING SOME BUILT-IN PANDA FUNCTIONS TO GET TO KNOW OUR DATA

#### - I enjoy using SPREADSHEET application like Excel for this
#### - I recommend use of JUPYTERLAB it allows one to view dataset in a spreadsheet way

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2822 entries, 0 to 2821
Data columns (total 63 columns):
ward                 2822 non-null object
total_households     2822 non-null float64
total_individuals    2822 non-null float64
target               2822 non-null float64
dw_00                2822 non-null float64
dw_01                2822 non-null float64
dw_02                2822 non-null float64
dw_03                2822 non-null float64
dw_04                2822 non-null float64
dw_05                2822 non-null float64
dw_06                2822 non-null float64
dw_07                2822 non-null float64
dw_08                2822 non-null float64
dw_09                2822 non-null float64
dw_10                2822 non-null float64
dw_11                2822 non-null float64
dw_12                2822 non-null int64
dw_13                2822 non-null int64
psa_00               2822 non-null float64
psa_01               2822 non-null float64
psa_02               2822 non-null float64
psa_03               2822 non-null float64
psa_04               2822 non-null float64
stv_00               2822 non-null float64
stv_01               2822 non-null float64
car_00               2822 non-null float64
car_01               2822 non-null float64
lln_00               2822 non-null float64
lln_01               2822 non-null float64
lan_00               2822 non-null float64
lan_01               2822 non-null float64
lan_02               2822 non-null float64
lan_03               2822 non-null float64
lan_04               2822 non-null float64
lan_05               2822 non-null float64
lan_06               2822 non-null float64
lan_07               2822 non-null float64
lan_08               2822 non-null float64
lan_09               2822 non-null float64
lan_10               2822 non-null float64
lan_11               2822 non-null float64
lan_12               2822 non-null float64
lan_13               2822 non-null int64
lan_14               2822 non-null float64
pg_00                2822 non-null float64
pg_01                2822 non-null float64
pg_02                2822 non-null float64
pg_03                2822 non-null float64
pg_04                2822 non-null float64
lgt_00               2822 non-null float64
pw_00                2822 non-null float64
pw_01                2822 non-null float64
pw_02                2822 non-null float64
pw_03                2822 non-null float64
pw_04                2822 non-null float64
pw_05                2822 non-null float64
pw_06                2822 non-null float64
pw_07                2822 non-null int64
pw_08                2822 non-null int64
ADM4_PCODE           2822 non-null object
lat                  2822 non-null float64
lon                  2822 non-null float64
NL                   2822 non-null float64
dtypes: float64(56), int64(5), object(2)
memory usage: 1.4+ MB

#### - The Dataset contains mostly data in NUMERICAL format (int, float64)

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013 entries, 0 to 1012
Data columns (total 62 columns):
ward                 1013 non-null object
total_households     1013 non-null float64
total_individuals    1013 non-null float64
dw_00                1013 non-null float64
dw_01                1013 non-null float64
dw_02                1013 non-null float64
dw_03                1013 non-null float64
dw_04                1013 non-null float64
dw_05                1013 non-null float64
dw_06                1013 non-null float64
dw_07                1013 non-null float64
dw_08                1013 non-null float64
dw_09                1013 non-null float64
dw_10                1013 non-null float64
dw_11                1013 non-null float64
dw_12                1013 non-null float64
dw_13                1013 non-null float64
psa_00               1013 non-null float64
psa_01               1013 non-null float64
psa_02               1013 non-null float64
psa_03               1013 non-null float64
psa_04               1013 non-null float64
stv_00               1013 non-null float64
stv_01               1013 non-null float64
car_00               1013 non-null float64
car_01               1013 non-null float64
lln_00               1013 non-null float64
lln_01               1013 non-null float64
lan_00               1013 non-null float64
lan_01               1013 non-null float64
lan_02               1013 non-null float64
lan_03               1013 non-null float64
lan_04               1013 non-null float64
lan_05               1013 non-null float64
lan_06               1013 non-null float64
lan_07               1013 non-null float64
lan_08               1013 non-null float64
lan_09               1013 non-null float64
lan_10               1013 non-null float64
lan_11               1013 non-null float64
lan_12               1013 non-null float64
lan_13               1013 non-null float64
lan_14               1013 non-null float64
pg_00                1013 non-null float64
pg_01                1013 non-null float64
pg_02                1013 non-null float64
pg_03                1013 non-null float64
pg_04                1013 non-null float64
lgt_00               1013 non-null float64
pw_00                1013 non-null float64
pw_01                1013 non-null float64
pw_02                1013 non-null float64
pw_03                1013 non-null float64
pw_04                1013 non-null float64
pw_05                1013 non-null float64
pw_06                1013 non-null float64
pw_07                1013 non-null float64
pw_08                1013 non-null float64
ADM4_PCODE           1013 non-null object
lat                  1013 non-null float64
lon                  1013 non-null float64
NL                   1013 non-null float64
dtypes: float64(60), object(2)
memory usage: 490.8+ KB

### - INTERESTING THING ABOUT THIS DATASET IS THE ABSENCE OF MISSING VALUES (JACKPOT...less work)

In [5]:
pd.set_option('display.max_rows', 200)
train.nunique()

ward                 2822
total_households     2822
total_individuals    2822
target               2822
dw_00                2822
dw_01                2735
dw_02                2754
dw_03                2094
dw_04                1799
dw_05                1952
dw_06                2714
dw_07                2770
dw_08                2705
dw_09                2130
dw_10                1695
dw_11                2715
dw_12                   1
dw_13                   1
psa_00               2822
psa_01               2822
psa_02               2308
psa_03               2822
psa_04               2822
stv_00               2822
stv_01               2822
car_00               2822
car_01               2822
lln_00               2822
lln_01               2822
lan_00               2818
lan_01               2822
lan_02               2806
lan_03               2788
lan_04               2814
lan_05               2796
lan_06               2805
lan_07               2811
lan_08               2799
lan_09               2530
lan_10               2520
lan_11               2524
lan_12               2755
lan_13                  1
lan_14               1459
pg_00                2822
pg_01                2734
pg_02                2778
pg_03                2715
pg_04                2693
lgt_00               2822
pw_00                2822
pw_01                2822
pw_02                2763
pw_03                2690
pw_04                2467
pw_05                2157
pw_06                2792
pw_07                   1
pw_08                   1
ADM4_PCODE           2822
lat                  2822
lon                  2822
NL                   2658
dtype: int64

#### - I decide to drop the only two Panda Series (Columns) with non NUMERICAL values...
#### - Why do this? All the values in the pd series (ward, ADM4_PCODE) with non NUMERICAL values are all unique
#### - We could do further Feature Engineering and find a pattern in them though (P.S: i am kinda lazy)

In [2]:
# Making a copy of the dataset with the two columns dropped
train_copy = train.drop(['ADM4_PCODE', 'ward'], axis=1)
test_copy = test.drop(['ADM4_PCODE', 'ward'], axis=1)

y = train['target']

print(train_copy.shape)
print(test_copy.shape)
print(y.shape)

(2822, 61)
(1013, 60)
(2822,)

#### -LIKE I SAID EARLY THIS IS A SIMPLE EDA ITS SUFFICIENT TO TRAIN A MODEL SINCE THE DATA IS QUITE CLEAN AND WELL STRUCTURED ALREADY
#### -A LOT MORE ANALYSIS AND FEATURE ENGINEERNG CAN BE CARRIED OUT ON THIS DATA I AWAIT YOUR CONTRIBUTIONS TO THIS
#### -LET US EXPORT THIS FILE AS .csv AND USE THEM TO TRAIN SOME MODELS

In [3]:

train_copy.to_csv('train_copy.csv', index=False)

test_copy.to_csv('test_copy.csv', index=False)